<h2 class="centered"> Welcome <%= @user.first_name %>!</h2><br>

<div class = "container">
       
        <h5 class= "centered"><%= link_to "View Profile", @user %> 
        --- <%= link_to "Edit Profile", edit_user_path(@user) %> --- 
        <%= link_to "Edit Account", account_path %></h5>

    <hr>

    <%#Driver Menu and Actions%>
    <h3 class ="text-center text-uppercase text-secondary mb-0">Driver</h3><br>

    <% if @user.upcoming_drives.empty?%>
    <h4><%= "No Upcoming Drives" %></h4>
    <% else%>
        <h4>Upcoming Drives:</h4>
        <% @user.upcoming_drives.each do |ride|%>
            <%= render partial: 'rides', :locals => {:ride => ride} %>
        <% end %>
        <br>
    <% end %>

    <% if @user.past_drives.empty? %>
        <h4><%= "No Past Drives" %></h4>
    <% else%>
        <h4><%= link_to "Past Drives", past_drives_path(@user) %></h4>
    <% end%>
    <br>
    <h5><%= link_to "Post a Drive", new_ride_path, class: "btn btn-primary btn-xl" %></h5>

    <hr>

    <%#Passenger Menu and Actions%>
    <h3 class ="text-center text-uppercase text-secondary mb-0">Passenger</h3><br>

    <% if @user.upcoming_rides.empty?%>
        <h4><%= "No Upcoming Rides" %></h4>
    <% else%>
        <h4>Upcoming Rides:</h4>
        <% @user.upcoming_rides.each do |ride|%>
            <%= render partial: 'rides', :locals => {:ride => ride}  %>
        <% end %>
        <br>
    <% end%>

    <% if @user.past_rides.empty?%>
        <h4><%= "No Past Rides" %></h4>
    <% else%>
        <h4><%= link_to "Past Rides", past_rides_path(@user) %></h4>
    <% end%>

    <hr>

    <h3 class ="text-center text-uppercase text-secondary mb-0"> Reviews </h3><br>
    <%#this is repeat code... create a reviews partial for main_page and show%>
    <% unless @user.reviews.empty?%>
        <ul>
            <% @user.reviews.each do |review|%>
            <li>
            <p class ="lead"><%= link_to review.title, review %> <br>Rating:
                <% case review.rating%>
                <% when 1%>
                    <%= "游눨 "%>
                <% when 2%>
                    <%= "游땽游땽" %>
                <% when 3%>
                    <%= "游땛游땛游땛" %>
                <% when 4%>
                    <%= "游누游누游누游누" %>
                <% when 5%>
                    <%= "游눆游눆游눆游눆游눆" %>
                <% end%>

            <% end%></p>
            </li>
        </ul>
    <% else%>
        <h5 class="text-secondary"><%= "No Reviews Yet" %></h5>
    <% end%>
    <br><br><br>
<br><br>
</div>
