<h1> Create User </h1>

<%= flash['notice'] %>

<%= form_for @user do |f| %>
  <%= f.label :email %><br>
  <%= f.text_field :email %>
  <br><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %>
  <br><br>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %>
  <br><br>
  <%= render partial: 'form', :locals => {:f => f} %>
<% end %>
