
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="assets/images/profile.png" alt="">
        <h1 class="text-uppercase mb-0">GET A LIT RIDE</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Sign Up</h2>
      </div>
    </header>
<h1> Get Lit with Lit Rides </h1>
<p> What would you like to do? </p>

<% if session[:user_id] == nil %>
  <%= link_to "Log In", login_path %><br>
  <%= link_to "Sign Up", new_user_path %>
<% else %>
  <%= "You are already logged in!" %><br>
  <%= link_to "Continue to Dashboard", "users/#{session[:user_id]}/main_page" %><br>
  <%= link_to "Browse Rides", rides_path %><br>
  <%= link_to "Log Out", logout_path %>
<% end %>
