<h4><%= review.title %></h4>

<% case review.rating%>
<% when 1%>
   <h2> <%= "游눨 "%></h2>
<% when 2%>
    <h2><%= "游땽游땽" %></h2>
<% when 3%>
    <h2><%= "游땛游땛游땛" %></h2>
<% when 4%>
    <h2><%= "游누游누游누游누" %></h2>
<% when 5%>
    <h2><%= "游눆游눆游눆游눆游눆" %></h2>
<% end%>

<p class ="lead"><%= review.content %></p>
