<p>Title <br>
<%= f.text_field :title %></p>

<p>Rating
<%= f.select "rating", options_for_select((1..5).step(1))%></p>


<p>Tell us how you really feel <br>
<%= f.text_area :content %></p>

<%= f.hidden_field :user_id, value: user.id%>
<%= f.hidden_field :ride_id, value: ride.id %>

<%= f.submit %>