<h2><%= @review.title %></h2>

<% case @review.rating%> 
<% when 1%>
   <h1> <%= "游눨 "%></h1>
<% when 2%>
    <h1><%= "游땽游땽" %></h1>
<% when 3%>
    <h1><%= "游땛游땛游땛" %></h1>
<% when 4%>
    <h1><%= "游누游누游누游누" %></h1>
<% when 5%>
    <h1><%= "游눆游눆游눆游눆游눆" %></h1>
<% end%>

<h4><%= @review.content %></h4>

<%# link_to @user.full_name, @user %> 