<p class = "lead">
<%= f.label :departure %><br>
<%= f.text_field :departure %><br>

<%= f.label :destination %><br>
<%= f.text_field :destination %><br><br>

<%= f.label :date %><br>
<%= f.date_select :time %><br><br>

<%= f.label :time %><br>
<%= f.time_select :time %><br><br>

<%#= f.label :duration %>
<%#= f.time_select :duration %>

<%= f.label :cost %><br>
<%= f.number_field :cost %><br>

<%= f.label :available_seats %><br>
<%= f.number_field :available_seats %><br>

<%= f.hidden_field :driver_id %>
<%= hidden_field_tag 23 %>
</p>

<%= f.submit class: "btn btn-primary btn-xl"%>
