
<div class="container">
<%= render partial: 'display', :locals => {:ride => @ride} %>
<br><br>
<% if @ride.time > DateTime.now && @ride.has_seats?%>
    <% if @user == @ride.driver %>
        <% if @ride.passengers.empty? %>
          <%= "No one has applied to join your ride!" %>
        <% else %>
          <h3><%= "Passengers who want to get Lit:" %></h3>
          <% @ride.passenger_rides.each do |pass_ride| %>
            <%= link_to pass_ride.passenger.full_name, pass_ride.passenger %>
            <!-- <p><%#= pass_ride.message %></p> -->
          <% end %>
        <% end %>
    <% else %>
      <%= form_tag apply_path, method: :get do %>
        <%= hidden_field_tag "id", @ride.id%>
        <%= submit_tag "Get Lit with #{@ride.driver.full_name}", :class=> "btn btn-xl btn-outline-light" %>
      <% end %>
    <% end %>
 <% elsif @user.has_ride?(@ride)%>
    class= "btn btn-xl btn-outline-light"
    <%= link_to "Review Fellow Travelers", "/rides/#{@ride.id}/travelers", :class=> "btn btn-xl btn-outline-light"%>
    
 <% end%>
 </div>


