
<div class="container">

<h2 class=""> Ride </h2><hr>
<%= render partial: 'display', :locals => {:ride => @ride} %>

<% if @ride.time > DateTime.now && @ride.has_seats?%>
    <% if @user == @ride.driver %>
        <% if @ride.passengers.empty? %>
          <p class ="lead"> <%= "No one has applied to join your ride!" %></p>
        <% else %>
          <h3><%= "Passengers who want to get Lit:" %></h3>
          <% @ride.passenger_rides.each do |pass_ride| %>
           <p class="lead"> <%= link_to pass_ride.passenger.full_name, pass_ride.passenger %></p>
              <% if pass_ride.message != nil %>
                <p class="lead"><%= pass_ride.message %></p>
              <% end %>
        <% end %>
      <% end %>
        <%= button_to "Edit Ride", edit_ride_path(@ride), method: :get, class: "submit-btn" %><br>
        <%= button_to "Delete Ride", "/rides/#{@ride.id}/destroy", method: :delete , class: "submit-btn" %><br>
       
    <% elsif @ride.passengers.include?(@user) %>
        <%= "You're already going on this ride! Get lit! 🤙 " %>
        <%= form_tag leave_ride_path, method: :delete do%>
        <%= hidden_field_tag "ride_id", @ride.id %>
        <%= submit_tag "Leave Ride", :class=> "btn btn-xl btn-outline-light"   %>
        <% end %>
        <%= link_to "Get Litty w/ More Rides!", rides_path %>
    <% else %>
      <%= form_tag apply_path, method: :get do %>
        <%= hidden_field_tag "id", @ride.id%>
        <%= submit_tag "Get Lit with #{@ride.driver.full_name}", :class=> "btn btn-xl btn-outline-light" %>
        <% end %>
      <% end %>
 <% elsif @user.has_ride?(@ride)%>
    <%= link_to "Review Fellow Travelers", "/rides/#{@ride.id}/travelers", :class=> "btn btn-xl btn-outline-light"%>
 <% end%>
 </div>
