<%= "#{@ride.departure} - #{@ride.destination}"%> <br>
<%= "Date: #{@ride.time.to_date}" %> <br>
<%= "Time of Departure: #{@ride.time.strftime('%H:%M')}" %><br>
<p>Driver Profile: </p> <%= link_to @ride.driver.full_name, user_path(@ride.driver)%><br>
<br>
<br>
<%#= "Duration of Trip: #{@ride.duration}" %><br>
<%= "Number of Available Seats: #{@ride.available_seats}" %><br>
<%= "Cost Per Seat: $#{@ride.cost}" %><br><br>
 <%= button_to "Apply to join!" %>
