<!DOCTYPE html>
<html>
  <head>
    <title>LitRides</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#theme stuff%>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/assets/style.css" media="screen" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->

    <!-- Custom styles for this template -->


  </head>

  <body id="page-top">
  <%#Navigation bar%>
      <!-- Navigation -->
    <nav class="navbar" id="mainNav">
      <div class="container">
        <a class="" href="/">Lit Rides</a>
        <button class="" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
        </button>
        <div class="" id="navbarResponsive">
          <ul class="">
              <% if session[:user_id] != nil %>
                <li class=""> 
                <%= link_to 'Dashboard', "/users/#{session[:user_id]}/main_page", class: ""%>
                </li>
              <% end%>
            
            <li class="">
              <a class="" href="/rides">Browse</a>
            </li>
            <li class="">
              <% if session[:user_id] != nil %>

                <%= link_to 'Log Out', logout_path, method: :delete, class: "" %>
              <% else%>

                <%= link_to 'Log In', login_path, class: ""  %>
              <% end%>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<%#nav bar ends%>
    <header>
    <%#more stuff from template%>


    <%#template section ends%>

      <% if @message %>
     <div class=“message”>
       <%= @message %>
     </div>
     <% end %>
     <% if @errors %>
     <ul class=“errors”>
       <% @errors.each do |error| %>
         <li>
           <%= error %>
         </li>
       <% end %>
     </ul>
     <% end %>
    </header>

    <%= yield %>
  </body>
</html>
